<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ('./common/head') %>
    <link rel="stylesheet" href="css/login.css" />
    <title>N-blog</title>
  </head>
  <body>
    <%- include ('./common/header') %>

    <div class="sec__wrap">
      <section class="sec__login">
        <div class="login__img-wrap">
          <img src="images/login.png" alt="" class="login__img" />
        </div>

        <div class="login__wrap">
          <h1 class="login__title">로그인</h1>

          <form action="/users/login" method="post" class="login__form">
            <div class="login__input-wrap">
              <span class="blind">이메일</span>
              <input
                type="email"
                name="email"
                placeholder="이메일"
                class="input input--email"
              />
              <%- include ('../public/images/icon/user.svg') %>
            </div>

            <div class="login__input-wrap">
              <span class="blind">비밀번호</span>
              <input
                type="password"
                id="password"
                name="pw"
                placeholder="비밀번호"
                class="input input--pw"
              />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="-1 -1 24 24"
                width="24"
                height="24"
                preserveAspectRatio="xMinYMin"
                class="icon__login icon--pw"
              >
                <path
                  d="M8.612 16.337l3.746-3.747 1.027.183a5 5 0 1 0-4.039-4.039l.184 1.028-6.994 6.994.177 2.651 2.651.177 1.833-1.833-.707-.707a1 1 0 0 1 1.415-1.414l.707.707zm.707-13.435a7 7 0 1 1 3.715 11.84L6.137 21.64l-4.43-.295a1 1 0 0 1-.932-.932l-.295-4.43 6.898-6.898a6.992 6.992 0 0 1 1.94-6.183zm4.242 5.656A2 2 0 1 1 16.39 5.73a2 2 0 0 1-2.829 2.828z"
                ></path>
              </svg>
            </div>

            <button type="submit" class="btn login__btn login__btn--submit">
              로그인
            </button>
          </form>

          <ul class="login__list login__list-find">
            <li class="list-find__item">
              <a href="" class="list-find__link">아이디 찾기</a>
            </li>
            <li class="list-find__item">
              <a href="" class="list-find__link">비밀번호 찾기</a>
            </li>
          </ul>

          <h2 class="list__title">or</h2>
          <ul class="login__list">
            <li>
              <a href="" class="btn login__btn login__btn--google">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="-2 -2 24 24"
                  width="24"
                  height="24"
                  preserveAspectRatio="xMinYMin"
                  class="icon__sns"
                >
                  <path
                    d="M4.376 8.068A5.944 5.944 0 0 0 4.056 10c0 .734.132 1.437.376 2.086a5.946 5.946 0 0 0 8.57 3.045h.001a5.96 5.96 0 0 0 2.564-3.043H10.22V8.132h9.605a10.019 10.019 0 0 1-.044 3.956 9.998 9.998 0 0 1-3.52 5.71A9.958 9.958 0 0 1 10 20 9.998 9.998 0 0 1 1.118 5.401 9.998 9.998 0 0 1 10 0c2.426 0 4.651.864 6.383 2.302l-3.24 2.652a5.948 5.948 0 0 0-8.767 3.114z"
                  ></path>
                </svg>
                google 로그인
              </a>
            </li>
            <li>
              <a href="" class="btn login__btn login__btn--facebook">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="-7 -2 24 24"
                  width="24"
                  height="24"
                  preserveAspectRatio="xMinYMin"
                  class="icon__sns"
                >
                  <path
                    d="M2.046 3.865v2.748H.032v3.36h2.014v9.986H6.18V9.974h2.775s.26-1.611.386-3.373H6.197V4.303c0-.343.45-.805.896-.805h2.254V0H6.283c-4.34 0-4.237 3.363-4.237 3.865z"
                  ></path>
                </svg>
                facebook 로그인
              </a>
            </li>
          </ul>
        </div>
      </section>
    </div>

    <script>
      const state = <%= state %>;
      window.onload = () => {
        if (state === 0) {
          alert('회원가입이 완료되었습니다.');
        } else if (state > 1) {
          alert('로그인에 실패했습니다.');
        }
      }
    </script>
  </body>
</html>
