<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include ('./common/head') %>
    <link rel="stylesheet" href="css/form.css" />
    <title>N-blog</title>
  </head>
  <body class="bg">
    <%- include ('./common/header') %>

    <div class="sec__wrap">
      <section class="sec__form">
        <img src="/images/register.png" alt="" class="form__img" />
        <div class="form__wrap">
          <h2 class="form__title">회원가입</h2>

          <form action="/users/signUp" method="post" class="form">
            <div class="input-group">
              <label for="email" class="label">이메일</label>
              <input
                type="email"
                id="email"
                name="email"
                class="input"
                placeholder="example@email.com"
                required
              />
              <div class="form__err invisible">
                이메일 형식으로 입력해주세요.
              </div>
              <button type="button" class="btn js-id-check" disabled>
                중복체크
              </button>
            </div>

            <div class="input-group">
              <label for="pw" class="label">비밀번호</label>
              <input
                type="password"
                id="pw"
                name="pw"
                class="input"
                placeholder="8자리 이상의 문자를 입력해주세요."
                minlength="8"
                required
              />
              <div class="form__err invisible">
                8자리 이상의 문자를 입력해주세요.
              </div>
            </div>

            <div class="input-group">
              <label for="pw-confirm" class="label js-label">
                비밀번호 확인
              </label>
              <input
                type="password"
                id="pw-confirm"
                name="pw-confirm"
                class="input js-input"
                minlength="8"
                required
              />
              <div class="form__err invisible"></div>
            </div>

            <div class="input-group">
              <label for="nickname" class="label">닉네임</label>
              <input
                type="text"
                id="nickname"
                name="nickname"
                class="input"
                placeholder="2~8 사이의 문자로 구성해주세요."
                minlength="2"
                maxlength="8"
                required
              />
              <div class="form__err invisible">
                2~8 사이의 문자로 구성해주세요.
              </div>
            </div>

            <div>
              <span class="blind">성별</span>
              <label class="btn js-gender-label">
                <input
                  type="radio"
                  name="gender"
                  value="110101"
                  class="radio js-gender"
                  required
                />
                남
              </label>
              <label class="btn">
                <input type="radio" name="gender" value="110102" />
                여
              </label>
              <div class="form__err js-gender-err invisible">
                성별을 선택해주세요.
              </div>
            </div>

            <div class="input-group">
              <label for="intro" class="label">회원소개</label>
              <textarea
                name="intro"
                id="intro"
                cols="30"
                rows="10"
                class="textarea"
              ></textarea>
              <div class="form__err"></div>
            </div>

            <button type="button" class="btn btn--em js-submit">가입</button>
          </form>
        </div>
      </section>
    </div>
    <%- include ('./common/footer') %>
    <script src="js/form.js"></script>
  </body>
</html>
