/* 기본 스타일 */
:root {
  --main-color: #449dd1;
  --point-color: #e34a6f;
  --dark-color: #252627;
  --medium-color: #564e58;
  --light-color: #f7f9f9;

  --line-color-light: #ededed;
  --line-color-medium: #dbdbdb;
  --line-color-dark: #191919;

  --max-size: 1500px;
}

body {
  margin: 0;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  margin-top: 70px;
}

textarea {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
}

h1,
h2,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

button,
input,
textarea {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

/* 레이아웃 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.invisible {
  display: none;
}

.sec__wrap {
  max-width: var(--max-size);
  margin: 0 auto;
  margin-top: 80px;
  padding: 20px;
}

.bg {
  background: url('../images/background.svg') no-repeat;
  background-position: center;
}
/* 버튼 */
.btn {
  display: inline-block;
  box-sizing: border-box;
  padding: 5px 10px;
  height: 36px;
  font-size: 15px;
  text-decoration: none;
  border: 1px solid var(--line-color-light);
  border-radius: 3px;
  background-color: #fff;
  color: #767676;
  transition: ease-in 0.1s background;
}

.btn:hover {
  background-color: var(--line-color-light);
  border-color: var(--line-color-medium);
  color: var(--dark-color);
}

.btn--em {
  background-color: var(--point-color);
  border: 1px solid var(--point-color);
  color: #fff;
}

.btn--em:hover {
  background-color: #fff;
  border-color: var(--point-color);
  color: var(--point-color);
}

.btn__img {
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  object-fit: cover;
}

/* 폼 */
.form__wrap {
  background-color: #fff;
  padding: 10px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  margin-bottom: 20px;
  font-weight: normal;
}

.form__img {
  width: 370px;
  margin-right: 20px;
}

.form__error {
  font-size: 13px;
  color: var(--point-color);
  padding: 0 3px;
}

.input {
  box-sizing: border-box;
  padding: 0 15px;
  height: 36px;
  border: 1px solid var(--line-color-light);
  border-radius: 3px;
  transition: ease-in 0.1s border;
}

.form.was-validated .input:valid {
  border-color: var(--main-color);
}

.form.was-validated .input:invalid {
  border-color: var(--point-color);
}

.textarea {
  box-sizing: border-box;
  padding: 0 15px;
  resize: none;
  border: 1px solid var(--line-color-light);
  border-radius: 3px;
  transition: ease-in 0.1s border;
}

.input:hover,
.input:focus,
.textarea:hover,
.textarea:focus {
  border-color: var(--line-color-medium);
}

.sec__form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.form__wrap {
  margin-left: 20px;
  width: 300px;
}

/* 드롭다운 */
.dropdown {
  position: relative;
}

.dropdown__btn {
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  width: 35px;
  height: 35px;
}

.dropdown__wrap.visible .dropdown__list {
  display: flex;
}

.dropdown__wrap {
  position: absolute;
  right: 5px;
  margin-top: 10px;
}

.dropdown__list::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 10px solid #fff;
  border-right: 10px solid #fff;
  transform: rotate(45deg);
  position: absolute;
  right: 8px;
  top: -5px;
  box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.dropdown__list {
  display: none;
  flex-direction: column;
  width: 150px;
  border: 1px solid var(--line-color-light);
  border-radius: 3px;
  list-style: none;
  background-color: #fff;
}

.dropdown__item {
  border: 1px solid var(--line-color-light);
  border-width: 1px 0;
}

.dropdown__item:first-child,
.dropdown__item:last-child {
  border-width: 0;
}

.dropdown__item + .dropdown__item {
  margin-top: -1px;
}

.dropdown__link:hover {
  background-color: var(--main-color);
  color: #fff;
}

.dropdown__link {
  display: block;
  padding: 5px 15px;
  font-size: 15px;
  color: #000;
  text-decoration: none;
}

.dropdown__link:last-child {
  border-radius: 0 0 3px 3px;
}

@media (max-width: 700px) {
  .form__img {
    display: none;
  }
}
