:root {
  --main-color: #f26227;
}

body {
  margin: 0;
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  margin-top: 70px;
}

h1 {
  margin: 0;
}

button,
input {
  outline: 0;
}

button:hover {
  cursor: pointer;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.header {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  background-color: #fff;
}

.header-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  height: 70px;
  margin: 0 auto;
}

.header__logo {
  padding-left: 10px;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.header__search {
  position: relative;
  margin-right: 5px;
}

.btn {
  padding: 5px 10px;
  text-decoration: none;
  border: 1px solid #ededed;
  color: #767676;
}

.btn-em {
  background: #e06666;
  color: #fff;
}

.btn-search {
  position: absolute;
  top: 11px;
  right: 5px;
  border: 0;
  background: none;
}

.input {
  padding: 0 15px;
  height: 34px;
  border: 1px solid #ededed;
}

.sign-up {
  display: flex;
  width: 800px;
  padding: 80px 0;
  justify-content: center;
  margin: 100px auto;
  border: 1px solid #ededed;
}

.sign-up__img {
  width: 400px;
}

.sign-up__title {
  margin-bottom: 15px;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
}

.sign-up__form label {
  margin-bottom: 5px;
}

.btn-submit {
  margin-top: 30px;
  background: #e06666;
  color: #fff;
}
