<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">
<mapper namespace="user">
  <select id="selectEmailCnt">
    SELECT	COUNT(*)  cnt
    FROM	  MBR
    WHERE	  1 = 1
    AND		  MBR_EMAIL = #{email}
  </select>

  <update id="addPwErr">
    UPDATE	MBR
    SET		  PW_ERR_CNT = PW_ERR_CNT + 1 
    WHERE	  1 = 1
    AND		  MBR_EMAIL = #{email};
  </update>

  <update id="resetPwErr">
    UPDATE	MBR
    SET		  PW_ERR_CNT = 0
    WHERE	  1 = 1
    AND		  MBR_EMAIL = #{email};
  </update>

  <select id="selectLogin">
    SELECT
        	MBR_EMAIL
	      , MBR_PW
        , MBR_NKNM
        , MBR_INTRO
    FROM	MBR
    WHERE	1 = 1
    AND		MBR_EMAIL = #{email}
  </select>


  <insert id="insertUser">
    INSERT INTO MBR 	(
			    MBR_NO
			  , MBR_EMAIL
			  , MBR_PW
			  , MBR_NKNM
        , MBR_SX_CD 
        , MBR_INTRO
        , MBR_STAT_CD
        , MBR_JN_DTT
        , PW_ERR_CNT
		  )
    VALUES (
          (select concat('M', ((SELECT IFNULL(SUBSTRING(MAX(MBR_NO), 3)+1, 1) from MBR M))+100000000) from dual)
			  , #{email}
			  , #{pw}
			  , #{nickname}
        , #{gender}
        , #{intro}
        , '109101'
        , NOW()
        , 0
      )
    </insert>

</mapper>