<header class="header">
  <div class="header-wrap">
    <h1 class="header__logo">
      <a href="/"> N-Blog </a>
    </h1>

    <div class="header__menu">
      <form action="" method="get" class="header__search">
        <input type="text" placeholder="Search.." class="input" />
        <button type="submit" class="fas fa-search btn-search">
          <span class="blind"> 검색 </span>
        </button>
      </form>

      <div class="header__link">
        <% if (!login) { %>

        <a href="/users/signUp" class="btn btn-em">회원가입</a>
        <a href="/users/login" class="btn">로그인</a>

        <% } else { %>
        <a href="/user/mypage" class="btn">내 블로그 가기</a>

        <% } %>
      </div>
    </div>
  </div>
</header>
