<header class="header">
  <div class="header__wrap">
    <h1>
      <a href="/" class="header__logo"><span class="blind">N-Blog</span></a>
    </h1>

    <div class="header__menu">
      <form action="" method="get" class="search__form">
        <input type="text" placeholder="Search.." class="input search__input" />
        <button type="submit" class="btn--search">
          <span class="blind"> 검색 </span>
          <%- include ('../../public/images/icon/search.svg') %>
        </button>
      </form>

      <div class="header__link">
        <% if (!login) { %>

        <a href="/users/login" class="btn">로그인</a>
        <a href="/users/signUp" class="btn btn--em">회원가입</a>

        <% } else { %>
        <div class="dropdown">
          <button type="button" class="btn dropdown__btn js-userdrop-btn">
            <img src="/images/user/user_img.jpg" alt="" class="btn__img" />
            <span class="blind">사용자 메뉴 열기</span>
          </button>

          <div class="dropdown__wrap user-menu__wrap js-userdrop">
            <ul class="dropdown__list user-menu">
              <li class="dropdown__item">
                <a href="" class="dropdown__link user-menu__info">
                  <small class="user-menu__email"> <%= login.email %> </small>
                  <strong class="user-menu__nickname">
                    <%= login.nickname %>
                  </strong>
                </a>
              </li>
              <li class="dropdown__item">
                <a href="" class="dropdown__link">내 블로그</a>
              </li>
              <li class="dropdown__item">
                <a href="" class="dropdown__link">스크랩</a>
              </li>
              <li class="dropdown__item">
                <a href="" class="dropdown__link">설정</a>
              </li>
              <li class="dropdown__item">
                <a href="/user/logout" class="dropdown__link">로그아웃</a>
              </li>
            </ul>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </div>
</header>
